@model IEnumerable<GunBak.Models.user>
@{
    ViewBag.Title = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.Drm != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert(@ViewBag.Drm);
        }
    </script>
}
<h2>Kullanıcılar</h2>
<table style="width:100%" class="table">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>E-Posta</th>
        <th>Rolü</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.userName</td>
            <td>@item.eMail</td>
            <td>@item.role</td>

            <td><a href="~/Admin/KullaniciDuzenle/@item.id">Düzenle</a></td>
            <td><a href="~/Admin/KullaniciSil/@item.id">Sil</a></td>
        </tr>
    }

</table>
<a href="~/Admin/KullaniciEkle" class="btn btn-default width-100">Kullanıcı Ekle</a>