
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.Drm != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert(@ViewBag.Drm);
        }
    </script>
}
<div class="success">@ViewBag.Drm</div>
<h2>Kategori Ekle</h2>
<form name="kategoriEkle" action="~/Admin/KategoriEkle" class="" method="post">
    Kateogri adı :   <input type="text" name="kategoriAdi" class="form-control" value="" required /><br>
    Kateogri başlığı :   <input type="text" name="kategoriBaslik" class="form-control" value="" required /><br>

    <button type="submit" class="btn btn-primary width-100">Kategori Ekle</button>


</form>

