@{
    ViewBag.Title = "Kullanıcı Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

    

@if(ViewBag.Drm!=null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert(@ViewBag.Drm);
        }
    </script>
}
<h2>Kullanıcı Ekle</h2>
<div class="success">@ViewBag.Drm</div>
<form name="kullaniciEkle" action="~/Admin/KullaniciEkle" method="post">
    <label>Kullanıcı adı </label>      <input type="text" class="form-control" name="kullaniciAdi" required /><br>

    <label>E-Posta Adresi </label>      <input type="email" class="form-control" name="eMail" required /><br>

    <label>Şifre </label>      <input type="password" class="form-control" name="Pass" required /><br>
    <label>Şifre tekrar </label>      <input type="password" class="form-control" name="PassTekrar" required /><br>
    <label> Rol </label> @Html.DropDownList("Rol",new List<SelectListItem>
                    {
                        new SelectListItem {Text="Yönetici",Value="admin" },
                        new SelectListItem {Text="Editör",Value="editor" },

                    }, "Rol seçiniz.", new { @class = "form-control" })     <br>

    <br>
    <button type="submit" class="btn btn-primary width-100">Haber Kaynak Ekle</button>

</form>
