
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="login-page">
<h2>Login</h2>

        <form name="Giris" action="~/Admin/Login"  method="post">
          <label>E-posta: </label>      <input type="text" class="form-control" name="ePosta" required/><br>
            <label>Şifre : </label>       <input type="password" class="form-control" name="Sifre" required/>
            <br>
            <button type="submit" class="btn btn-primary width-100">Giriş Yap</button>

        </form>
 
</div>
